* {
    box-sizing: border-box;
    text-decoration: none;
    margin-top: 20px;
    background-size: cover;
    color: rgb(155, 155, 155);
    border-bottom-color: #fff;
    transform: translateX(50%);
}